@charset "utf-8";

:root{
  --headerHeight: 3rem;
  --navHeight: 4rem;
  --footerHeight: 3rem;

  --background1: #ffffff;
  --background2: #f1f1f1;
  --header: #f1f1f188;
  --text: #222222;
  --textPale: #777777;

  --accent: #7FD9FB;
}

/* ======================================== */

#sectionMap{
  position: relative;

  display: none;
  width: 100%;
  height: calc(100dvh - 8rem - 3rem - 5px);
  
  overflow: scroll;

  margin-top: 0;
  margin-bottom: 0;
  line-height: 0;
}

#sectionMap.current{
  display: block;
}

/* ======================================== */

/* 3dマップ */
#mapBox{
  position: absolute;
  bottom: 0;
  left: 10%;

  display: none;

  width: calc(80% - 3rem);
  height: 10rem;

  padding: 1.5rem;

  background-color: var(--background1);
  border-radius: 1.5rem 1.5rem 0 0;

  transition: .5s;
}

#mapBox.active{
  display: block;
}

/* ======================================== */

/* 2dマップ */
/* #map2d{
  position: relative;

  display: block;
  width: 80%;
  height: calc(100vh - 8rem - 3rem - 5px);

  margin: 0 auto;
  
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

#map2d.floor1{
  background-image: url(../../2d/001.png);
}

#map2d.floor2{
  background-image: url(../../2d/002.png);
}

#map2d.floor3{
  background-image: url(../../2d/003.png);
}

#floorBtnBox{
  position: absolute;
  top: 2rem;
  left: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 12rem;
  height: 3rem;

  padding: 0;

}

.floorBtn{
  display: block;
  width: 100%;
  height: 3rem;
  z-index: 2;

  background-color: #ffffff22;
  border: none;

  color: var(--text);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "IBM Plex Sans JP", sans-serif;
  
  text-align: center;
  line-height: 3rem;
}

#floorBtnBox>span{
  position: absolute;
  display: block;
  width: 4rem;
  height: 3rem;

  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
  padding: 0;

  background-color: var(--accent);
  filter: opacity(0.8);

  transition: all .25s;
} */

.imgFloor{
  position: relative;
  z-index: 0;

  display: none;
  width: 250%;
  height: 250%;

  margin: 0 auto;
  padding: 0 0;

  background-color: #EBE2D5;

  resize: both;
}

.imgFloor.active{
  display: block;
}

#compass{
  position: fixed;
  bottom: 6rem;
  right: 1.5rem;
  z-index: 100;

  display: none;
  width: 4rem;
  height: 4rem;

  background-color: var(--accent);
  border-radius: 50%;

  font-size: 1.5rem;

  text-align: center;
  line-height: 4rem;

  transform: rotate(-22deg);
}

#sectionMap.current>#compass{
  display: block;
}

.grid-tate{
  position: absolute;
  top: 0;
  
  display: block;
  width: 1px;
  height: 250%;

  background-color: #ccc;
}

.grid-yoko{
  position: absolute;
  left: 0;
  
  display: block;
  width: 250%;
  height: 1px;

  background-color: #ccc;
}

.mapContentBtn{
  position: absolute;
  
  display: block;
  width: 3rem;
  height: 3rem;

  margin: 0;
  padding: 0;

  background-color: #7FD9FB33;
  border-radius: 25%;
  border: var(--accent) 0.2rem solid;

  color: var(--accent);
  font-size: 1.5rem;
  font-weight: 600;

  text-align: center;
  line-height: 3rem;
}

.mapContentBtn.active{
  filter: invert(1);
}